* {
   padding: 0;
   margin: 0;
   border: 0;
 }
 
 *, *:before,*:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }
 
 :focus, :active {outline: none;}
 
 a:focus, a:active {outline: none;}
 
 nav, footer, header, aside {display: block;}
 
 html, body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
 }
 
 input, button, textarea {font-family: inherit;}
 
 input::-ms-clear {display: none;}
 
 button {cursor: pointer;}
 
 button::-moz-focus-inner {
   padding: 0;
   border: 0;
 }
 
 a, a:visited {text-decoration: none;}
 
 a:hover {text-decoration: none;}
 
 ul li {list-style: none;}
 
 img {vertical-align: top;}
 
 h1, h2, h3, h4, h5, h6 {
   font-size: inherit;
   font-weight: 400;
 }

 /*------all_style-------*/

 .wrapper{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0px 20px;
   
   
}

/* HEADER */
.header{
   padding-bottom: 20px;
   border-bottom: 1px solid grey;
}
.header__inf {
   display: flex;
   justify-content: space-between;
   margin-top: 50px;
}

.header__title{
   margin-top: 20px;
   font-size: 24px;
   font-weight: 500;
}

.header__logo{
   border-radius: 50%;
   overflow: hidden;
   width: 70px;
   height: 70px;
   background-color: grey;
}
.header__logo img{
   width: 100%;
   
}

/* Setting filter */

.setting {
   display: flex;
   justify-content: space-between;
   margin-top: 50px;
   border-bottom: 1px solid grey;
}
.setting__filter {
   width: 50%;
   margin-bottom: 20px;
}
.setting__filter img{
   width: 3%;
   padding-top: 5px;
}
.setting__filter button {
   width: 70px;
   height: 25px;
   border: 1px solid black;
   border-radius: 5px;
   background-color: white;
   margin: 2px 5px 0px 10px;
}
.setting__filter button:hover{
   background-color: black;
   color: white;
}
.setting__filter button:focus{
   background-color: black;
   color: white;
}

.filter-sort {
   margin-left: 20px;
}
.setting__view {
   width: 50%;
   display: flex;
   justify-content: flex-end;
   
}
.view-tabs {
   display: flex;
}
.tabs__items {
   display: flex;
}
.tabs__items a{
   padding-right: 15px;
}
.tabs__items img{
width: 25px;
}

.view-lang  img{
   width: 25px;
}
.change-lang{
   
}

/* Content */
.list-view__user-title {
   display: flex;
   margin-top: 20px;
   padding: 0px 10px;
   justify-content: space-between;
   border-bottom: 1px solid grey;
   font-size: 16px;
   font-weight: 600;
}

.user-title__checkbox {
   padding-bottom: 20px;
   
   
}
.user-title__checkbox input {
   margin-right: 20px;
}
.user-title__name {
   
  
}
.user-title__age {
   
}
.user-title__phone {
   
}
.user-title__favorite{
}

/* content - list */


.content-block{
   display: none;
}
.content-block:target{
   display: block;
}


.list-view__user {
   display: flex;
   margin-top: 10px;
   padding: 20px;
   background-color: #F4F4F4;
   border-radius: 10px;
   
}
.list-view__user__name{
   display: flex;
   width: 37%;
}
.list-view__user__name input{
   align-self: center;

}
.list-view__user-checkbox{
   align-self: center;
}
.list-view__user-logo {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: grey;
   overflow: hidden;
   margin: 0px 0px 0px 20px;
 
}
.list-view__user-logo img{
   width: 90%;
   padding: 5px 0px 0px 5px;
}
.list-view__user-name {
   align-self: center;
   padding-left: 10px;
   
}
.list-view__user-age {
   align-self: center;
   width: 35%;
}
.list-view__user-phone {
   align-self: center;
   width: 37%;
}

.list-view__user-favorite {
   align-self: center;
   width: 20px;
  
}
.list-view__user-favorite img{
   width: 100%;
}

/* content - grid */


.content__grid-view{
   display: flex;
}
.grid-view__user{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 20px;
   
}
.user__user-inform {
   border: 1px solid grey;
   width: 48%;
   margin-bottom: 20px;
}
.user-inform__top {
   display: flex;
   padding-top: 20px;
}
.user-inform__logo {
   margin-left: 20px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   overflow: hidden;
   background-color: grey;
}
.user-inform__logo img {
   width: 100%;
   
}
.user-inform__name {
   padding-left: 20px;
   align-self: center;
}
.user-inform__favorite {
   width: 20px;
   align-self: center;
   margin-left:auto;
   margin-right: 10px;
}
.user-inform__favorite img{
   width: 100%;
}
.user-inform__content {
   display: flex;
   flex-direction: column;
   padding: 20px;
}
.user-inform__age {
   padding-bottom: 10px;
}
.user-inform__phone {
   padding-bottom: 10px;
}
.user-inform__text {
   padding-bottom: 10px;
}
.user-player__user-video {
}